src/main/webapp/WEB-INF/wsdl/C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CPMSPDA_WS_LocationMoveCode" targetNamespace="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode" xmlns:tns="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="CPMSPDA_LocationMoveCode" type="tns:CPMSPDA_LocationMoveCode"/>
          <xsd:element name="CPMSPDA_LocationMoveCodeResponse" type="tns:CPMSPDA_LocationMoveCodeResponse"/>
          <xsd:complexType name="CPMSPDA_LocationMoveCode">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="P_PLANT_CD" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="P_LINE_CD" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="P_GROUP_ID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="CPMSPDA_LocationMoveCodeResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUT_LOAD_DATA" nillable="true" type="tns:OUT_LOAD_DATA"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="OUT_LOAD_DATA">
            <xsd:sequence>
              <xsd:element name="NAME" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CPMSPDA_WS_LocationMoveCode_PortType_CPMSPDA_LocationMoveCode">
    <wsdl:part name="parameters" element="tns:CPMSPDA_LocationMoveCode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CPMSPDA_WS_LocationMoveCode_PortType_CPMSPDA_LocationMoveCodeResponse">
    <wsdl:part name="parameters" element="tns:CPMSPDA_LocationMoveCodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CPMSPDA_WS_LocationMoveCode_PortType">
    <wsdl:operation name="CPMSPDA_LocationMoveCode">
      <wsdl:input message="tns:CPMSPDA_WS_LocationMoveCode_PortType_CPMSPDA_LocationMoveCode">
    </wsdl:input>
      <wsdl:output message="tns:CPMSPDA_WS_LocationMoveCode_PortType_CPMSPDA_LocationMoveCodeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src_adpt_CPMSPDA_WS_LocationMoveCode_Binder" type="tns:CPMSPDA_WS_LocationMoveCode_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CPMSPDA_LocationMoveCode">
      <soap:operation soapAction="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src_adpt_CPMSPDA_WS_LocationMoveCode_Binder_CPMSPDA_LocationMoveCode" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode">
    <wsdl:port name="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src_adpt_CPMSPDA_WS_LocationMoveCode_Port" binding="tns:C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src_adpt_CPMSPDA_WS_LocationMoveCode_Binder">
      <soap:address location="http://hpteai2:5120/ws/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4003.Src.adpt.CPMSPDA_WS_LocationMoveCode/C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4003_Src_adpt_CPMSPDA_WS_LocationMoveCode_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
