src/main/webapp/WEB-INF/wsdl/C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CPMSPDA_WS_PDAShipIF" targetNamespace="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF" xmlns:tns="http://eaidev.dev.net/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="CPMSPDA_PDAShipIF" type="tns:CPMSPDA_PDAShipIF"/>
          <xsd:element name="CPMSPDA_PDAShipIFResponse" type="tns:CPMSPDA_PDAShipIFResponse"/>
          <xsd:complexType name="CPMSPDA_PDAShipIF">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="PLANT_CD" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LINE_CD" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="GUBUN" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="BARCODE" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PROCESS_DATE" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AREA" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="UID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="CPMSPDA_PDAShipIFResponse">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="RTN_VAL" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
            </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CPMSPDA_WS_PDAShipIF_PortType_CPMSPDA_PDAShipIFResponse">
    <wsdl:part name="parameters" element="tns:CPMSPDA_PDAShipIFResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CPMSPDA_WS_PDAShipIF_PortType_CPMSPDA_PDAShipIF">
    <wsdl:part name="parameters" element="tns:CPMSPDA_PDAShipIF">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CPMSPDA_WS_PDAShipIF_PortType">
    <wsdl:operation name="CPMSPDA_PDAShipIF">
      <wsdl:input message="tns:CPMSPDA_WS_PDAShipIF_PortType_CPMSPDA_PDAShipIF">
    </wsdl:input>
      <wsdl:output message="tns:CPMSPDA_WS_PDAShipIF_PortType_CPMSPDA_PDAShipIFResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src_adpt_CPMSPDA_WS_PDAShipIF_Binder" type="tns:CPMSPDA_WS_PDAShipIF_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CPMSPDA_PDAShipIF">
      <soap:operation soapAction="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src_adpt_CPMSPDA_WS_PDAShipIF_Binder_CPMSPDA_PDAShipIF" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF">
    <wsdl:port name="C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src_adpt_CPMSPDA_WS_PDAShipIF_Port" binding="tns:C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src_adpt_CPMSPDA_WS_PDAShipIF_Binder">
      <soap:address location="http://hpteai2:5120/ws/C100_CPMSPDA.CPMSPDA.CPMSPDA_JMES4001.Src.adpt.CPMSPDA_WS_PDAShipIF/C100_CPMSPDA_CPMSPDA_CPMSPDA_JMES4001_Src_adpt_CPMSPDA_WS_PDAShipIF_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
