src/main/webapp/WEB-INF/wsdl/GMES_CreateSO.WSDL

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GMES_WS_CreateSO" targetNamespace="http://TRANSYS_EAI/C100_GMES/GMES/GMES_ERPSD001/Src/adpt/GMES_WS_CreateSO" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://TRANSYS_EAI/C100_GMES/GMES/GMES_ERPSD001/Src/adpt/GMES_WS_CreateSO" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://TRANSYS_EAI/C100_GMES/GMES/GMES_ERPSD001/Src/adpt/GMES_WS_CreateSO" xmlns:tns="http://TRANSYS_EAI/C100_GMES/GMES/GMES_ERPSD001/Src/adpt/GMES_WS_CreateSO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="GMES_CreateSO" type="tns:GMES_CreateSO"/>
          <xsd:element name="GMES_CreateSOResponse" type="tns:GMES_CreateSOResponse"/>
          <xsd:complexType name="GMES_CreateSO">
            <xsd:sequence>
              <xsd:element name="IV_TYPE" nillable="true" type="xsd:string"/>
              <xsd:element name="IV_KUNNR" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IV_PURCH" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IV_VBELN" nillable="true" type="xsd:string"/>
              <xsd:element name="IV_WADAT" nillable="true" type="xsd:string"/>
              <xsd:element name="IV_PROCESS" nillable="true" type="xsd:string"/>
              <xsd:element name="IV_VBELN_VL" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="IT_ITEM" nillable="true" type="tns:IT_ITEM"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="IT_ITEM">
            <xsd:sequence>
              <xsd:element name="POSNR" nillable="true" type="xsd:string"/>
              <xsd:element name="MATNR" nillable="true" type="xsd:string"/>
              <xsd:element name="MENGE" nillable="true" type="xsd:string"/>
              <xsd:element name="MEINS" nillable="true" type="xsd:string"/>
              <xsd:element name="WERKS" nillable="true" type="xsd:string"/>
              <xsd:element name="LGORT" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GMES_CreateSOResponse">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ES_FOOTER" nillable="true" type="tns:ES_FOOTER"/>
              <xsd:element minOccurs="0" name="EV_VBELN" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EV_VBELN_VL" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ES_FOOTER">
            <xsd:sequence>
              <xsd:element name="TOT_CNT" nillable="true" type="xsd:string"/>
              <xsd:element name="EAI" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GMES_WS_CreateSO_PortType_GMES_CreateSO">
    <wsdl:part name="parameters" element="tns:GMES_CreateSO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GMES_WS_CreateSO_PortType_GMES_CreateSOResponse">
    <wsdl:part name="parameters" element="tns:GMES_CreateSOResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GMES_WS_CreateSO_PortType">
    <wsdl:operation name="GMES_CreateSO">
      <wsdl:input message="tns:GMES_WS_CreateSO_PortType_GMES_CreateSO">
    </wsdl:input>
      <wsdl:output message="tns:GMES_WS_CreateSO_PortType_GMES_CreateSOResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="C100_GMES_GMES_GMES_ERPSD001_Src_adpt_GMES_WS_CreateSO_Binder" type="tns:GMES_WS_CreateSO_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GMES_CreateSO">
      <soap:operation soapAction="C100_GMES_GMES_GMES_ERPSD001_Src_adpt_GMES_WS_CreateSO_Binder_GMES_CreateSO" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C100_GMES.GMES.GMES_ERPSD001.Src.adpt.GMES_WS_CreateSO">
    <wsdl:port name="C100_GMES_GMES_GMES_ERPSD001_Src_adpt_GMES_WS_CreateSO_Port" binding="tns:C100_GMES_GMES_GMES_ERPSD001_Src_adpt_GMES_WS_CreateSO_Binder">
      <soap:address location="http://10.135.106.184:6110/ws/C100_GMES.GMES.GMES_ERPSD001.Src.adpt:GMES_WS_CreateSO/C100_GMES_GMES_GMES_ERPSD001_Src_adpt_GMES_WS_CreateSO_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
